.aproposContainer {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding-left: 150px;
  color: var(--secondary-color);
  overflow: hidden;
}
.aproposWrap {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 45% 45%;
  grid-gap: 2em;
  margin-top: 50px;
  text-align: center;
  /* border: tomato 2px solid; */
}
.box {
  box-shadow: 0px 0px 8px #333;
  padding: 10px;
  background-image: url(../../img/bkApropos.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-bottom: 4px solid var(--primary-color); */
}

.info {
  border: none;
  text-align: start;
  box-shadow: none;
}
.miniTitle,
.infoTitle {
  line-height: 1.5em;
}
