.contactUsContainer{
    width: 100%;
    height: 100vh;
   
   display: inline-block;
  overflow: hidden;
   background-image: url(../../img/img4.jpg);
   background-position: center;
   background-size: cover;
   object-fit: cover;
}
 

.contactUsWrap{
    height: 100%;
    width: 100%;
    /* padding: 10px; */
    display: flex;
   justify-content: space-between;

}
.left{
 
 width: 70%;
 margin: 30px;
}
.topLeft{
    height: 20%;
   padding: 20px;
    color: whitesmoke;
    margin: 20px 0px;

}
.contactus-tile{
    font-weight: bold;
   line-height: 1.5em;
}
.contactus-para{
    font-size: 14px;
}
.boottomLeft{
   display: flex;
   flex-direction: column; 
    height: 80%;
    width: 75%;
    margin-left: 50px;
}
.block{
   
    margin-bottom: 10px;
   
}

.txt{
    height: 40px;
    width: 300px;
    border: none;
    font-size: 14px;
    text-align: start;
    margin-right: 40px;
    padding: 1em;
}

.txt-besoin{
    width: 94%;
    height: 100px;
}
.btn-submit{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
   
}

.right{
  
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--secondary-color);
  
    justify-content: center;
}
.item{
    margin-bottom: 10px;
    height: 50px;
    text-align: center;
  
}

.contactUsLogo{
    height: 90px;
}