.testemonialContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    border: violet 2px solid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 1em;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
.card{
    /* border: tan 1px solid; */
    height: 320px;
    position: relative;
    background-color: ghostwhite;
    border-radius: 10px;
}
.tesImg{
    height: 40%;
    width: 100%;
    margin-bottom: 10px;
    /* border: springgreen 1px solid; */
    object-fit: cover;
}
.tesIcon{
    position: absolute;
    top: 35%;
    left: 0px;
    /* border: steelblue 1px solid; */
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 24px;
}
.tesTes{
    /* border: solid black 1px; */
   padding: 10px;
   background-color: #fff;
   border-radius: 7px;
}
.tesPara{
    padding-bottom: 1em;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.tesComp{
    color: #777;
    font-style: italic;
}