.offreSection {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.offres {
  width: 100%;
  height: 100%;
  margin: auto;
}
.offrePack {
  /* border: #555 2px solid; */
  position: relative;
  width: 70%;
  height: 80%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 15%;
}

.offreCard {
  margin-right: 10px;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #8855ff;
}

.packTitle {
  background-color: #fff;
  text-align: center;
  line-height: 2em;
}
.packDisc {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
}

.packSelction,
.packSelctionItem {
  list-style: none;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.packSelction {
  margin-top: 40px;
  margin-left: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50%;
  /* border: springgreen 2px solid; */
  /* background-color: #fff; */
}

.packSelctionItem {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  /* border: tan 2px solid; */
  user-select: none;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
}

.packSelctionItem.selected {
  /* background: var(--secondary-color); */
}
